@{
    ViewData["Title"] = "Home Page";
}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<div class="row">
    <div class="col">
        <div class="small-block">
            <!----> <a href="/trade/inverse/BTCUSD" id="block" style="text-decoration:none;">
                <div class="small-block__container">
                    <div class="small-block__content">
                        <p brand="" class="small-block__name" id="from-to">BTC-USD</p>
                        <div class="small-block__current">
                            <p class="small-block__current-rate" id="rate">
                            </p>
                        </div>
                    </div> <p class="small-block__value" id="live-value"></p>

                    <div class="small-block__label-bg">
                        <div class="small-block__label"><span>24hr Volume</span> <span class="24volClss" id="24volBTC"></span></div>
                        <div class="small-block__label"><span>Market Capitalization</span> <span class="mkCapClss" id="MKTCAP"></span></div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="col">
        <div class="small-block">
            <!----> <a href="/trade/inverse/BTCUSD" id="block" style="text-decoration:none;">
                <div class="small-block__container">
                    <div class="small-block__content">
                        <p brand="" class="small-block__name" id="from-to">ETH-USD</p>
                        <div class="small-block__current">
                            <p class="small-block__current-rate" id="rate2">
                            </p>
                        </div>
                    </div> <p class="small-block__value" id="live-value2"></p>

                    <div class="small-block__label-bg">
                        <div class="small-block__label"><span>24hr Volume</span> <span class="24volClss" id="24volETH"></span></div>
                        <div class="small-block__label"><span>Market Capitalization</span> <span class="mkCapClss" id="MKTCAPeth"></span></div>
                    </div>

                </div>
            </a>
        </div>

    </div>


    <div class="col">
        <div class="small-block">
            <!----> <a href="/trade/inverse/BTCUSD" id="block" style="text-decoration:none;">
                <div class="small-block__container">
                    <div class="small-block__content">
                        <p brand="" class="small-block__name" id="from-to">LTC-USD</p>
                        <div class="small-block__current">
                            <p class="small-block__current-rate" id="rate3">
                            </p>
                        </div>
                    </div> <p class="small-block__value" id="live-value3"></p>

                    <div class="small-block__label-bg">
                        <div class="small-block__label"><span>24hr Volume</span> <span class="24volClss" id="24volLTC"></span></div>
                        <div class="small-block__label"><span>Market Capitalization</span> <span class="mkCapClss" id="MKTCAPltc"></span></div>
                    </div>

                </div>
            </a>
        </div>

    </div>
</div>

<div id="table" style="margin-top:2%;">
    <table id="myTable" class="table table-hover" style="width:100%;">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th></th>
                <th>Price</th>
                <th>MarketCap</th>
                <th>24H</th>
                <th>Volume</th>
                <th>TotalSupply</th>
            </tr>
        </thead>
    </table>
</div>
<script src="~/js/BTC-MainForm.js"></script>
<script src="~/js/ETH-MainForm.js"></script>
<script src="~/js/LTC-MainForm.js"></script>

<link href="//cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="//cdn.jsdelivr.net/npm/bootstrap@4.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
@section Scripts{
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/GetAllTokens.js"></script>
}