@{
    ViewData["Title"] = "Home Page";
}
<script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
<!-- #region datatables files -->

<!-- #endregion -->

<div class="row">
    <div class="col">
        <div class="small-block">
            <!----> <a href="/trade/inverse/BTCUSD" id="block">
                <div class="small-block__container">
                    <div class="small-block__content">
                        <p brand="" class="small-block__name" id="from-to">BTC-USD</p>
                        <div class="small-block__current">
                            <p class="small-block__current-rate" id="rate">
                            </p>
                        </div>
                    </div> <p class="small-block__value" id="live-value"></p>

                    <div class="small-block__label-bg">
                        <div class="small-block__label"><span>24hr Volume</span> <span class="24volClss" id="24volBTC"></span></div>
                        <div class="small-block__label"><span>Market Capitalization</span> <span class="mkCapClss" id="MKTCAP"></span></div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="col">
        <div class="small-block">
            <!----> <a href="/trade/inverse/BTCUSD" id="block">
                <div class="small-block__container">
                    <div class="small-block__content">
                        <p brand="" class="small-block__name" id="from-to">ETH-USD</p>
                        <div class="small-block__current">
                            <p class="small-block__current-rate" id="rate2">
                            </p>
                        </div>
                    </div> <p class="small-block__value" id="live-value2"></p>

                    <div class="small-block__label-bg">
                        <div class="small-block__label"><span>24hr Volume</span> <span class="24volClss" id="24volETH"></span></div>
                        <div class="small-block__label"><span>Market Capitalization</span> <span class="mkCapClss" id="MKTCAPeth"></span></div>
                    </div>

                </div>
            </a>
        </div>

    </div>


    <div class="col">
        <div class="small-block">
            <!----> <a href="/trade/inverse/BTCUSD" id="block">
                <div class="small-block__container">
                    <div class="small-block__content">
                        <p brand="" class="small-block__name" id="from-to">LTC-USD</p>
                        <div class="small-block__current">
                            <p class="small-block__current-rate" id="rate3">
                            </p>
                        </div>
                    </div> <p class="small-block__value" id="live-value3"></p>

                    <div class="small-block__label-bg">
                        <div class="small-block__label"><span>24hr Volume</span> <span class="24volClss" id="24volLTC"></span></div>
                        <div class="small-block__label"><span>Market Capitalization</span> <span class="mkCapClss" id="MKTCAPltc"></span></div>
                    </div>

                </div>
            </a>
        </div>

    </div>
</div>


<table id="myTable" class="display nowrap" style="width:100%; margin-top:2%;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Lastupdated</th>
            <th>Maxsupply</th>
            <th>Totalsupply</th>
        </tr>
    </thead>
</table>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" defer></script>
<link href="//cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/js/BTC-MainForm.js"></script>
<script src="~/js/ETH-MainForm.js"></script>
<script src="~/js/LTC-MainForm.js"></script>

<script src="~/js/GetAllTokens.js"></script>
